@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0px;
}

body {
    background: #f5f5f5;
    margin: 0px;
    padding: 0px;
    font-family: 'Quicksand';
}

.header {
    font-family: 'Oswald';
    color: #f5f5f5;
    background-color: #03396c;
    padding: 0.5em;
    border-bottom: 0.25em solid #3b0056;
}

.text {
    padding: 0.5em;
}